body {

    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-right: 60px; */
    /* margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto; */
}

canvas {
    position: absolute
}